.deobfus-btn {
    width: 100%;
    padding: 15px;
    font-size: 17px;
}

.running-progress {
    height: 57px;
}

#running-progress-bar {
    width: 0%;
}

.codeblock {
    padding: 10px 20px;
    background-color: rgba(194, 200, 206, .2);
    margin: 20px;
}

span.target {
    color: rgb(148, 33, 142);
    font-weight: bold;
}